{
    "rules": {
        "semi": ["error", "always"]
    },
    "extends": "eslint:recommended",
    "env": {
        "es6": true
    },
    "ecmaVersion": 8,
    "parserOptions": {
        "ecmaVersion": 8
    }
}
